[submodule "libraries/openvr"]
	path = libraries/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "libraries/websocketpp"]
	path = libraries/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "libraries/asio"]
	path = libraries/asio
	url = https://github.com/chriskohlhoff/asio.git
